__pycache__/
.pytest_cache/
venv/
.venv/
env
.vscode/
.env
.logs
.log
*.ipynb
.csv
dataset_mas/mas/logs
decision_making_module/mas/logs
decision_making_module/judge/logs
tree_cot/init_output_files
/reference_paper_and_code/
/memory_module/.paper_cache/
/memory_module/logs
/MCRetroMAS/logs
tests/
optimization_history/
old_output_programs/
token_logs/
problems/*
outputs/*


